@import './variables';
.overview{

    .homepage{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        // background-color: #000000;
        height: 100vh;

        .overlap{
            display: none;
        }

        div{
            width: 50%;
        }
    }

    .title{
        margin-bottom: 39px;

        h1{
            font-size: 50px;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
            letter-spacing: 1.2px;
            color: #a89e9e;
        }
    }

    h2{
        margin: 20px 0;
    }

    &-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        // height: 500px;
        // overflow-y: scroll;
    }
}

@media screen and (max-width: 600px) {
    .overview{
        // padding: 0 10px;

        .overview-content{
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .homepage{
            position: relative;
            padding: 0 10px;
            height: 50vh;
            background: url('../images/bg.png') center no-repeat;
            background-size: cover;
            margin-bottom: 20px;

            .overlap{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #0e0d0d69;
            }
            img{
                display: none;
            }
            div{
                width: 100%;
            }

            .title{
                z-index: 1;
                p{
                    color: $primaryTxtColor;
                }

            }
        }
        h2{
            margin: 0 0 10px;
        }
    }
}