@import "./variables";
//>>>>>>>>>>>>settings
.settings{
    .hero{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

//>>>>>>>>>>>>>>>>user-profile
    .user-profile{
        padding: 20px;
        height: 150px;
        background-color: $activeColor;
    }

    //>>>>>>>>>>>>>>>>>>info
    .info{
        background-color: #252524;
        box-shadow: 0 10px 15px #1f1e1e;
        padding: 20px;
    }

    //>>>>>>>>>>>>>>>>>button
    button{
        padding: 10px 20px;
        background-color: $activeColor;
        color: $primaryTxtColor;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 0 black;
        transition: 0.3s ease-in-out;
        
        &:hover{
            box-shadow: 0 3px 5px black;
        }



        &.back{
            background-color: #121212;
            
        }
    }

    //>>>>>>>>>>>>>>>>saved
    .saved{
        color: green;
        font-weight: 600;
        margin-bottom: 10px;
        background: none;
        letter-spacing: 1px;
    }

    //>>>>>>>>>>>>>>>>>>form
    .form{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;

        p{
            background-color: #121212;
            min-height: 40px;
            min-width: 300px;
            color: $primaryTxtColor;
            border-radius: 5px;
            padding: 10px;
            cursor: no-drop;
        }

        //>>>>>>>>>>>>>>>>>>>>>form-group
        .form-group{
            // margin: 20px 0;
            label{
                display: block;
                margin-bottom: 10px;
                font-weight: 500;
                letter-spacing: 2px;
            }

            input, select, textarea{
                min-height: 40px;
                min-width: 300px;
                width: 100%;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                outline-color: $activeColor;
            }

            textarea{
                height: 40px;
                max-width: 500px;
            }
        }
    }

    // >>>>>>>>>>>>>>edit-profile
    .edit-profile{
        // display: block;
        background-color: $primaryBgColor;
        background: #43505F;
        color: $primaryTxtColor;
        padding: 10px;
        border-radius: 10px;

        &-inputs{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .settings{
        .edit-profile{
            background: none;
            padding: 0;
        }
    }
}