@import '../variables';
.overview{

    .homepage{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        // background-color: #000000;
        height: 100vh;

        div{
            width: 50%;
        }
    }

    .title{
        margin-bottom: 39px;

        h1{
            font-size: 50px;
            margin-bottom: 10px;
        }

        p{
            font-size: 12px;
            color: #a89e9e;
        }
    }

    h2{
        margin: 20px 0;
    }

    &-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .overview{
        // padding: 0 10px;

        .overview-content{
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .homepage{
            height: 50vh;
            img{
                display: none;
            }
            div{
                width: 100%;
            }
        }
        h2{
            margin: 0 0 10px;
        }
    }
}