@import '../variables';
.overview{

    .title{
        margin-bottom: 30px;
    }

    h2{
        margin: 20px 0;
    }

    &-content{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    a{
        text-decoration: none;

        div{
            background-color: $activeColor;
            border-radius: 10px;
            width: 250px;
            height: 50px;
            display: flex;
            align-items: center;

            h3{
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 20px;
                color: $primaryTxtColor;
                text-transform: capitalize;
            }
        }
    }

    .video{
        width: 300px;

        video{
            width: 100%;
        }

        h3{
            text-transform: capitalize;
        }
    }
}

@media screen and (max-width: 600px) {
    .overview{
        .video{
            width: 100%;
        }
    }
}