
@import './styles/variables';

//<<<<<<<<<< app >>>>>>>>>>>>>>
.App{
    display: flex;
    min-height: 100vh;

    .title{
        span{
            color: $activeColor;
        }
    }
}

.navbar{
    background-color: #43505F;
    width: 100%;
    padding: 20px;
    color: $primaryTxtColor;
    position: fixed;
    display: none;
    .hamburger{
        font-size: 25px;
        cursor: pointer;
    }
}

// >>>>>>>>>>>>>>>> dashboard 

//>>>>>>>>>>>>>>>>>>>>> content 


//>>>>>>>>>>>>>>>>>> courses 
.courses{
    

}

//>>>>>>>>>>>>> footer

// files
    .doc {
        background-color: #a89e9e15;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        padding: 10px;
        gap: 10px;
        a{
            text-decoration: none;
            color: $primaryTxtColor;
            padding: 10px 0;
            
            &:hover{
                background-color: #5c59598e;
                border-radius: 10px;
        }
        .files{
            width: 180px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;

            .file-image{
                background-color: #a89e9e;
                width: 70px;
                border-radius: 10px;
            }

            img{
                width: 100%;
            }
        }
    }
}
.video{
    background-color: $primaryBgColor;
    border-radius: 0 0 10px 10px;
    width: 350px;
    height: fit-content;
    
    video{
        width: 100%;
        cursor: pointer;
    }
    
    p{
        padding: 10px;
        text-transform: capitalize;
    }
}

//>>>>>>>>>>>>>>>>>>>>> media query

@media screen and (max-width: 600px) {
    .App{
        padding: 0;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        z-index: 2;

    }

    // >>>>>>>>>>>>>>>>>dashboard
    
    .video{
        width: 100%;
    }

    // >>>>>>>>>>>>>>>>>>content

    //>>>>>>>>>>>>>>>>>>>>>>courses
    .doc{
        // margin: 0 10px;
        a{
            .files{
                width: 140px;
            }
        }
    }

    //>>>>>>>>>>>>>>>>>>>>>>>footer
}