
@import './components/variables';

//<<<<<<<<<< app >>>>>>>>>>>>>>
.App{
    display: flex;
    // width: 90%;
    // margin: 20px auto;
    background-color: $primaryBgColor;
    // border-radius: 10px;
    padding: 5px;
    min-height: 100vh;
}

.navbar{
    background-color: $primaryBgColor;
    width: 100%;
    padding: 20px 10px;
    color: $primaryTxtColor;
    position: fixed;
    display: none;
    .hamburger{
        font-size: 25px;
        margin: 0 20px;
        cursor: pointer;
    }
}

//<<<<<<<<<<< dashboard >>>>>>>>>>>>>>>>
.dashboard{
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
    font-size: 14px;

    .dash-head{
        margin: 20px 0px;
        color: $primaryTxtColor;
        display: flex;
        align-items: center;
        justify-content: space-between;

        i{
            font-size: 25px;
            cursor: pointer;
        }
        
    }


    i{
        margin-right: 20px;
    }


    a{
        display: block;
        width: 90%;
        text-decoration: none;
        padding: 15px;
        color: $primaryTxtColor;
        border-radius: 10px;
        font-size: 14px;

        &:hover{
            background-color: $activeColor;
        }

        &.active{
            background-color: $activeColor;
        }
    }

    .bottom{
        margin-top: auto;
        margin-bottom: 10px;
        text-align: center;
        color: $primaryTxtColor;
        
    }
    
    button{
        text-transform: capitalize;
        padding: 10px;
        background: none;
        color: $primaryTxtColor;
        width: 80%;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 10px;

        &:hover{
            background-color: $activeColor;
        }
    }

    span{
        text-transform: capitalize;
    }

}

//<<<<<<<<<<<<<<<<<< content >>>>>>>>>>>>>>>>>
.content{
    flex: 1;
    background-color: $primaryTxtColor;
    color: $primaryBgColor;
    border-radius: 10px;
    padding: 20px;
    // margin-top: 20px;
    // overflow-y: scroll;
}

//<<<<<<<<<<<<<< courses >>>>>>>>>>>>>>>>>>>>>
.courses{
    text-transform: capitalize;
    button{
        text-transform: capitalize;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        color: $primaryTxtColor;
        background-color: $activeColor;
        cursor: pointer;
    }
    .btn{
        button{
            // display: block;
            margin: 10px 0;
            margin-right: 10px;
            background: $primaryBgColor;
        }
    }

    .files, .videos{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px 0;
    }

    a{
        text-decoration: none;

        div{
            background-color: $activeColor;
            border-radius: 10px;
            width: 250px;
            height: 50px;
            display: flex;
            align-items: center;

            h3{
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 20px;
                color: $primaryTxtColor;
                text-transform: capitalize;
            }
        }
    }

    .video{
        width: 300px;

        video{
            width: 100%;
        }

        h3{
            text-transform: capitalize;
        }
    }
}

@media screen and (max-width: 600px) {
    .App{
        padding: 0;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        .hamburger{
        }
    }

    // dashboard
    .dashboard{
        position: absolute;
        left: -200px;
        background-color: $primaryBgColor;
        transition: 0.3s ease;
        &.active{
            left: 0px;
        }
    }

    // content
    .content{
        border-radius: 0;
        padding-top: 70px;
    }
}