@import "../variables";
.settings{

    .user-profile{
        margin-bottom: 20px;
    }

    button{
        padding: 10px 20px;
        background-color: $activeColor;
        color: $primaryTxtColor;
        cursor: pointer;
        border: none;
        border-radius: 10px;

        &.cancel{
            background-color: red;
            
        }
    }

    .saved{
        color: green;
        font-weight: 600;
        margin-bottom: 10px;
    }

    
    form{
        margin: 20px 0;
        width: 60%;

        p{
            background-color: $primaryBgColor;
            color: $primaryTxtColor;
            border-radius: 5px;
            padding: 10px;
            cursor: no-drop;
        }

        button{
            padding: 10px 20px;
            background-color: $activeColor;
            color: $primaryTxtColor;
            cursor: pointer;
            border: none;
            border-radius: 10px;

        }
        .form-group{
            margin: 20px 0;
            label{
                display: block;
                margin-bottom: 10px;
                font-weight: 500;
                letter-spacing: 2px;
            }

            input, select, textarea{
                width: 100%;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                outline-color: $activeColor;
            }
        }
    }

    .edit-profile{
        background-color: $primaryBgColor;
        color: $primaryTxtColor;
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    .settings{
        form{
            width: 100%;
        }
    }
}