@import '../components/variables';
.login, .register{
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    gap: 30px;

    .title{
        // margin: 10px 0;
        font-size: 25px;
        span{
            color: $activeColor;
        }
    }

    .form-wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;

        .err-msg{
            color: red;
        }
    }

    .hub{
        width: 40%;
    }

    .form{
        width: 300px;
    }
    
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    
        input{
            width: 100%;
            border: none;
            // border-radius: 5px;
            color: #fff;
            border-bottom: 1px gray solid;
            background: none;
            // margin: 15px 0;
            padding: 10px;
            outline: none;
            font-size: 16px;
        }
    
        
    }
    
    p{
        font-size: 13px;
        color: #7e7a7a;
    }

    a{
        text-decoration: none;
        margin-left: 5px;
    }

    button{
        width: 100%;
        padding: 10px;
        border: solid 1px #333;
        border-radius: 5px;
        background: transparent;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;

        &:hover{
            background-color: #43505F;
        }
        
        &#google{
            margin: 10px 0;
            // background-color: #ff3c00bb;
            display: flex;
            justify-content: center;
            gap: 10px;

            &:hover{
                // background-color: #ff3c00;
            }

            i{
                color: $activeColor;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .hub{
        display: none;
    }
}